<!-- <div>
    <div class="container">
        <div class="display-4 mb-3 text-white">Register FZDA</div>
        <div [formGroup]="formUser">
            <div class="card p-3 row m-0 mb-2  ">
                <div class="col-12">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Nombres" formControlName="Nombre">
                        <mat-error *ngIf="!formUser.controls['Nombre'].valid">
                            Nombres<strong> requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Correo" formControlName="Correo">
                        <mat-error *ngIf="!formUser.controls['Correo'].valid">
                            Correo <strong> no valido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="Clave">
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="!formUser.controls['Clave'].valid">
                            Contraseña <strong> no valida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Confirme Contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="ClaveConfirm">
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="!formUser.controls['Clave'].valid">
                            Contraseña <strong> no valida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-100">
                        <input formControlName="Trabajo" matInput placeholder="Trabajos" type="text">
                        <button type="button" mat-icon-button matSuffix (click)="addTrabajo()"><i
                                class="text-dark fas fa-plus-circle"></i></button>
                    </mat-form-field>
                    <div>
                        <div *ngFor="let trabajo of trabajos; let i = index" [attr.data-index]="i" class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{trabajo}}
                            <button type="button" (click)="deleteTrabajo(i)" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="w-100">
                            <textarea matInput placeholder="Que Hacemos" type="text" formControlName="Descripcion"></textarea>
                            <mat-error *ngIf="!formUser.controls['Descripcion'].valid">
                                <strong> Descripción no valido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <button type="submit" [disabled]="trabajos.length == 0 || !formUser.valid " (click)="register()" mat-raised-button>Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="display-4 text-white">Registro</div>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="formUser">
            <form [formGroup]="formUser">
                <ng-template matStepLabel>Datos Personales</ng-template>
                <div class=" p-3 row m-0 mb-2  ">
                    <div class="col-12">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label for="nombres">Nombres</mat-label>
                            <input id="nombres" matInput formControlName="Nombre">
                            <mat-error *ngIf="!formUser.controls['Nombre'].valid">
                                Nombres<strong> requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label for="corroe">Correo electronico</mat-label>
                            <input id="correo" matInput formControlName="Correo">
                            <mat-error *ngIf="!formUser.controls['Correo'].valid">
                                Correo <strong> no valido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Contraseña</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="Clave">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="!formUser.controls['Clave'].valid">
                                Contraseña <strong> no valida</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Confirme Contraseña</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="ClaveConfirm">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="!formUser.controls['Clave'].valid">
                                Contraseña <strong> no valida</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div>
                    <button type="submit" [disabled]="trabajos.length == 0 || !formUser.valid " (click)="register()" mat-raised-button>Enviar</button>
                </div> -->
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="formUser">
            <form [formGroup]="formUser">
                <ng-template matStepLabel>Trabajos</ng-template>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label for="trabajo">Trabajo</mat-label>
                            <input id="trabajo" formControlName="Trabajo" matInput type="text">
                            <button type="button" mat-icon-button matSuffix (click)="addTrabajo()"><i
                                    class="text-dark fas fa-plus-circle"></i></button>
                        </mat-form-field>
                        <span>Maximo 5 Trabajo los cuales usted realiza</span>
                        <div>
                            <div *ngFor="let trabajo of trabajos; let i = index" [attr.data-index]="i" class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{trabajo}}
                                <button type="button" (click)="deleteTrabajo(i)" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="formUser">
            <form [formGroup]="formUser">
                <ng-template matStepLabel>Descripción y Ubicación</ng-template>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label for="descripcion">Que hacemos?</mat-label>
                            <textarea id="descripcion" matInput type="text" formControlName="Descripcion"></textarea>
                            <mat-error *ngIf="!formUser.controls['Descripcion'].valid">
                                <strong> Descripción no valido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12 ">
                        <mat-form-field class="col-lg-4 col-12">
                            <mat-label>Seleccione un pais ...</mat-label>
                            <mat-select [(value)]="pais">
                                <mat-option value="{{country.name}}" *ngFor="let country of paises">{{country.name}}</mat-option>
                                <!-- <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="col-lg-4 col-12">
                            <mat-label>Seleccione una Provincia o Estado ...</mat-label>
                            <mat-select [(value)]="provincia">
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="col-lg-4 col-12">
                            <mat-label>Seleccione una Ciudad ...</mat-label>
                            <mat-select [(value)]="ciudad">
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="formUser">
            <form [formGroup]="formUser">
                <ng-template matStepLabel>Contactos y Otros</ng-template>
                <div class="row">
                    <div class="col-12">
                        <button [disabled]="selectOption" type="button" mat-raised-button (click)="newContacto()">Agregar nueva forma de contacto</button>
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label for="contacto">{{selectOption?typeContact.name:'Toque el boton de arriba'}}</mat-label>
                            <input id="contacto" [readonly]="!selectOption" matInput [type]="selectOption ?typeContact.format:'text'" formControlName="Contacto">
                            <mat-error>
                                <strong> Maximo 5 Contactos no valido</strong>
                            </mat-error>
                        </mat-form-field>
                        <div *ngIf="typeContact.type == 'red'">
                            <mat-radio-group formControlName="IconContactoRed" aria-label="Seleccion la red Social">
                                <mat-radio-button [value]="iconRed.icon_facebook"><i class="fab fa-facebook-f"></i> facebook </mat-radio-button>
                                <mat-radio-button [value]="iconRed.icon_instagram"><i class="fab fa-instagram"></i> Instagram </mat-radio-button>
                                <mat-radio-button [value]="iconRed.icon_youtube"><i class="fab fa-youtube"></i> Youtube </mat-radio-button>
                                <mat-radio-button [value]="iconRed.icon_linkin"><i class="fab fa-linkedin"></i> LinkedIn </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div *ngIf="typeContact.type == 'telefono'">
                            <mat-radio-group formControlName="IconContactoPhone" aria-label="Seleccion la red Social">
                                <mat-radio-button [value]="iconPhone.icon_phoneLocal"><i class="fas fa-phone"></i> Telefono local </mat-radio-button>
                                <mat-radio-button [value]="iconPhone.icon_phoneCell"><i class="fas fa-mobile-alt"></i> Celular </mat-radio-button>
                                <mat-radio-button [value]="iconPhone.icon_whatsapp"><i class="fab fa-whatsapp"></i> Whatsapp </mat-radio-button>
                                <mat-radio-button [value]="iconPhone.icon_line"><i class="fab fa-line"></i> Line </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div *ngIf="selectOption" class="mb-2">
                            <button class="mr-2" mat-raised-button color="primary" (click)="addContacto()">Agregar</button>
                            <button mat-raised-button color="warn" (click)="cancelContacto()">Cancelar</button>
                        </div>
                        <div>
                            <div *ngFor="let contacto of contactos; let i = index" [attr.data-index]="i" class="alert alert-warning alert-dismissible fade show" role="alert">
                                <i class="{{contacto.icon}}"></i> {{contacto.contacto}}
                                <button type="button" (click)="deleteContact(i)" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>