<mat-nav-list>
    <a mat-list-item (click)="openLink('red')">
        <i class="fas fa-project-diagram fa-2x"></i>
        <span mat-line>Red Social</span>
        <span mat-line>facebook, Instagram, Youtube, etc ...</span>
    </a>
    <a mat-list-item (click)="openLink('correo')">
        <i class="fas fa-envelope fa-2x"></i>
        <span mat-line>Correo Electronico</span>
        <span mat-line>Ejemplo: fzenterprise@gmail.com</span>
    </a>

    <a mat-list-item (click)="openLink('pagina')">
        <i class="fab fa-internet-explorer fa-2x"></i>
        <span mat-line>Pagina Web</span>
        <span mat-line>Ejemplo: http://www.fzenterprise.com</span>
    </a>

    <a mat-list-item (click)="openLink('telefono')">
        <i class="fas fa-phone fa-2x"></i>
        <span mat-line>Telefono o Whatsapp</span>
        <span mat-line>ejemplo :+5931113334456</span>
    </a>
</mat-nav-list>